{% extends "website/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block style-block %}

{% endblock style-block %}

{% block navbar-block %}
    {% with active_menu="about" %}
        {{ block.super }}
    {% endwith %}
{% endblock navbar-block %}

{% block content-block %}

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans "Company" %}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">{% trans "Home" %}</a>
                    </li>
                    <li class="active">{% trans "About" %}</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/83vxU-fl8x4?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h2>{% trans "About us" %}</h2>
                <p>{% trans "We are a brazilian company developing Internet of Things (IoT) solutions for manufacturies, agriculture and small business." %}</p>
                {# TODO Esse paragrafo esta ruim #}
                <p>{% trans "Our expertise includes cloud-based software development connecting sensors, machines and platforms over Internet." %}</p>
                <p>{% trans "We believe that Education is the first step to build innovative ideas. We are passionated about share our knowledge and experience." %}</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{% trans "Mission & Core Values" %}</h2>
            </div>
            <div class="col-md-6">
                <p>{% trans "We believe that eficiency makes the world better. Using IoT devices to collect and analyze data, it's possible to create smart machines, which not only perceive and interact with its enviroment, but also communicate with people and other machines." %}</p>
                <p>{% trans "Our core values relies in people as the most important and valuable component in this endeavor to breakthrough the way how the information and companies work." %}</p>
                <ul>
                    <li>{% trans "Respect" %}</li>
                    <li>{% trans "Integrity" %}</li>
                    <li>{% trans "Effiency" %}</li>
                    <li>{% trans "Hard work" %}</li>
                    <li>{% trans "Commitment" %}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{% static "website/img/values.jpg" %}" alt="">
            </div>
        </div>

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{% trans "Our Team" %}</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{% static "website/img/ismael.jpg" %}" alt="">
                    <div class="caption">
                        <h3>Ismael Rodrigues<br>
                            <small>{% trans "Business" %}</small>
                        </h3>
                        <p>{% trans "Worked in Education and Adversiting companies as project manager for 6 years, in charge for business development, suppliers and distribution channels." %}</p>
                        <ul class="list-inline">
                            <li><a href="https://github.com/ismaelrodrigues"><i class="fa fa-2x fa-github-square"></i></a>
                            </li>
                            <li><a href="https://br.linkedin.com/in/ismael-rodrigues-78907a25"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://bitbucket.org/rodriguesismael/"><i class="fa fa-2x fa-bitbucket-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{% static "website/img/vido.jpg" %}" alt="">
                    <div class="caption">
                        <h3>Lucas Vido<br>
                            <small>{% trans "Operations" %}</small>
                        </h3>
                        <p>{% trans "Software engineer from the financial sector. He manages Pinewoods' operations, developing the products concept and architecture using his experience as developer and robotic enthusiast." %}</p>
                        <ul class="list-inline">
                            <li><a href="https://github.com/Vido"><i class="fa fa-2x fa-github-square"></i></a>
                            <!--
                            </li>
                            <li><a href="https://br.linkedin.com/in/lucas-vido-8aa8566a"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://bitbucket.org/vido3/"><i class="fa fa-2x fa-bitbucket-square"></i></a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
{% endblock content-block %}


