{% extends "website/base.html" %}
{% load staticfiles %}

{% block style-block %}

{% endblock style-block %}

{% block navbar-block %}
    {% with active_menu="about" %}
        {{ block.super }}
    {% endwith %}
{% endblock navbar-block %}

{% block content-block %}

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Company
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </div>
            <div class="col-md-6">
                <h2>About us</h2>
                <p>We are a brazilian company developing Internet of Things technologies for manufactories, agriculture and small business.</p>
                <p>Our background is cloud-based software development, connecting sensors, machines and platforms over Internet.</p>
                <p>We believe that Education is the first step to build innovative ideas. We are passionated about share our knowledge and experience.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{% static "website/img/ismael.jpg" %}" alt="">
                    <div class="caption">
                        <h3>Ismael Rodrigues<br>
                            <small>Business</small>
                        </h3>
                        <p>Worked in Education and Adversiting companies as project manager for 6 years, in charge for business development, suppliers and distribution channels.</p>
                        <ul class="list-inline">
                            <li><a href="https://github.com/ismaelrodrigues"><i class="fa fa-2x fa-github-square"></i></a>
                            </li>
                            <li><a href="https://br.linkedin.com/in/ismael-rodrigues-78907a25"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://bitbucket.org/rodriguesismael/"><i class="fa fa-2x fa-bitbucket-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{% static "website/img/vido.jpg" %}" alt="">
                    <div class="caption">
                        <h3>Lucas Vido<br>
                            <small>Operations</small>
                        </h3>
                        <p>Software engineer from Financial market and he manages the company operation, developing the products concept and architecture using his experience as developer and robotic enthusiast.</p>
                        <ul class="list-inline">
                            <li><a href="https://github.com/Vido"><i class="fa fa-2x fa-github-square"></i></a>
                            </li>
                            <li><a href="https://br.linkedin.com/in/lucas-vido-8aa8566a"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://bitbucket.org/vido3/"><i class="fa fa-2x fa-bitbucket-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Customers</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>
{% endblock content-block %}


