{% extends "website/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block style-block %}

{% endblock style-block %}

{% block navbar-block %}
    {% with active_menu="education" %}
        {{ block.super }}
    {% endwith %}
{% endblock navbar-block %}

{% block content-block %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Education
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="active">Education</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-md-6">
                <p>The Internet of Things is a revolutionary new way of using Technology in 21th century opening new possibilities by connecting people, machines and systems.</p>
                <p>As a new segment needs professional with the right skills. We offer IoT training courses regarding:</p>
                    <li>Open-source platforms boards</li>
                    <li>Sensors</li>
                    <li>Electronics components</li>
                    <li>GPRS, 3G and Wifi connections</li>
                    <li>Cloud integration</li>
                    <li>Software programing basis</li>
                    <li>Learning materials</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Basic</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>R$</sup>199<sup>99</sup></span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Starter Kit</li>
                        <li class="list-group-item"><strong>1</strong> IoT Project</li>
                        <li class="list-group-item">Arduino Programming</li>
                        <li class="list-group-item">Electronics components</li>
                        <li class="list-group-item"><a href="http://pinewoods.minestore.com.br/" class="btn btn-primary">Shop</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Intermediate</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>R$</sup>450<sup>00</sup></span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Development Kit</li>
                        <li class="list-group-item"><strong>2</strong> IoT Projects</li>
                        <li class="list-group-item">Software Programming basis</li>
                        <li class="list-group-item">Sensors</li>
                        <li class="list-group-item"><a href="http://pinewoods.minestore.com.br/" class="btn btn-primary">Shop</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Advanced</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>R$</sup>599<sup>00</sup></span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Premium Kit</li>
                        <li class="list-group-item"><strong>3</strong> Projects</li>
                        <li class="list-group-item">Cloud Integration</li>
                        <li class="list-group-item">IoT Communication</li>
                        <li class="list-group-item"><a href="http://pinewoods.minestore.com.br/" class="btn btn-primary">Shop</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

{% endblock content-block %}


    {% block jquery-scripts %}
    <!-- jQuery Scripts-->

    <script>

    $('.panel').hover(
       function(){ $(this).addClass('panel-primary'); $(this).removeClass('panel-default');},
       function(){ $(this).addClass('panel-default'); $(this).removeClass('panel-primary');}
       );

    </script>
    {% endblock jquery-scripts %}
