{% extends "website/base.html" %}
{% load staticfiles %}

{% block style-block %}

{% endblock style-block %}

{% block header-block %}
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('{% static "website/img/carrossel1.jpg" %}');"></div>
                <div class="carousel-caption carousel-font">
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{% static "website/img/carrossel2.jpg" %}');"></div>
                <div class="carousel-caption carousel-font">
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{% static "website/img/carrossel3.jpg" %}');"></div>
                <div class="carousel-caption carousel-font">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
{% endblock header-block %}

{% block content-block %}

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-center">
                    Internet of Things
                </h2>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-terminal"></i> Services</h4>
                    </div>
                    <div class="panel-body">
                        <p>We design custom IoT Solutions for companies with automation systems.</p>
                        <a href="{% url 'services' %}" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-cloud"></i> IoT Products</h4>
                    </div>
                    <div class="panel-body">
                        <p>Meet our Cloud-based platform and IoT devices to implement in your plant.</p>
                        <a href="{% url 'products' %}" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-graduation-cap"></i> Education</h4>
                    </div>
                    <div class="panel-body">
                        <p>Learn abouth IoT platforms development and design your own applications.</p>
                        <a href="{% url 'education' %}" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Industries & Applications</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="{% static "website/img/cold-storage.jpg" %}" alt="Cold Storage">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="{% static "website/img/field.jpg" %}" alt="Agriculture">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="{% static "website/img/water-tank.jpg" %}" alt="Water Tanks">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="{% static "website/img/silos.jpg" %}" alt="Silos">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="{% static "website/img/factory.jpg" %}" alt="Manufacturing">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="{% static "website/img/logistics.jpeg" %}" alt="Logistics">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

<!-- container-fluid-block -->
{% endblock content-block %}

{% block jquery-scripts %}
    <!-- jQuery Scripts-->

        <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

{% endblock jquery-scripts %}



