{% extends "website/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block style-block %}

{% endblock style-block %}

{% block navbar-block %}
    {% with active_menu="products" %}
        {{ block.super }}
    {% endwith %}
{% endblock navbar-block %}
   
{% block content-block %}
       <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans "Products" %}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">{% trans "Home" %}</a>
                    </li>
                    <li class="active">{% trans "Products" %}</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a target="_blank" href="http://pinewoods.minestore.com.br">
                    <img class="img-responsive img-hover" src="{% static "website/img/nivel.jpg" %}" alt="">
                </a>
                <h3>
                    <a target="_blank" href="http://pinewoods.minestore.com.br">DEC</a>
                </h3>
                <p>{% trans "Metering device to control the water level in your water tanks in condominiums and small business." %}</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a target="_blank" href="http://pinewoods.minestore.com.br">
                    <img class="img-responsive img-hover" src="{% static "website/img/dc2.jpg" %}" alt="">
                </a>
                <h3>
                    <a target="_blank" href="http://pinewoods.minestore.com.br">DC2</a>
                </h3>
                <p>{% trans "Control your fuel supply and level in real-time to reduce your operation costs." %}</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

{% endblock content-block %}
